<!doctype html>
<html lang="en_US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%=  %></title>
        <meta name="description" content="<%=  %>">

        <!-- for Facebook -->
        <meta property="og:title" content="<%=  %>" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="<%=  %>" />
        <meta property="og:url" content="http://www.challer.co" />
        <meta property="og:description" content="<%=  %>" />

        <!-- for Twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="<%=  %>" />
        <meta name="twitter:description" content="<%=  %>" />
        <meta name="twitter:image" content="<%=  %>" />

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600|Montserrat" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css" />
        <link rel="stylesheet" type="text/css" href="/css/app.css" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/css/flag-icon.css" />

        <!-- Custom CSS for SB  dashboard -->
        <link href="/css/sb-admin-2.css" rel="stylesheet">
        <link href="/css/metisMenu.css" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">


    </head>
    <body>

    <div class="container-fluid">
      <div class="row header-row">
      		<nav class="navbar navbar-fixed-top">
      		  <div class="container-fluid">
      		    <div class="navbar-header">
      		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      		        <span class="icon-bar"></span>
      		        <span class="icon-bar"></span>
      		        <span class="icon-bar"></span>
      		      </button>
      		      	<a class="navbar-brand" href="/">
      			      	<img src="/img/logo1.jpg" class="img img-responsive" alt="">
      			    </a>
      		    </div>
      		    <div class="collapse navbar-collapse" id="myNavbar">

      		      	<ul class="nav navbar-nav">
      			        <li class="dropdown">

      			        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Prospect <span class="caret"></span> </a>

      			        <div class="dropdown-menu prospect-dropdown text-left">
      			        	<section class="col-md-4">
      			        		<h1 class="drop-category">Arts &amp; Crafts</h1>
      			        		<ul class="drop-category-ul">
      				        		<li><a href="/challenges/art">Art</a></li>
      				        		<li><a href="/challenges/architecture">Architecture</a></li>
      				        		<li><a href="/challenges/music">Music</a></li>
      				        		<li><a href="/challenges/photography">Photography</a></li>
      				        		<li><a href="/challenges/writing">Writing &amp; Publishing</a></li>
      				        		<li><a href="/challenges/tv-shows">TV Shows</a></li>
                          <li><a href="/challenges/filmmaking">Filmmaking</a></li>
      			        		</ul>
      			        	</section>
      			        	<section class="col-md-4">
      			        		<h1 class="drop-category">Technology</h1>
      			        		<ul class="drop-category-ul">
                          <li><a href="/challenges/apps">Apps</a></li>
                          <li><a href="/challenges/web">Web</a></li>
                          <li><a href="/challenges/ai">AI</a></li>
                          <li><a href="/challenges/vr-ar">VR &amp; AR</a></li>
                          <li><a href="/challenges/electronics">Electronics</a></li>
                          <li><a href="/challenges/accessories">Accessories</a></li>
                          <li><a href="/challenges/video-games">Video Games</a></li>
      			        		</ul>
      			        	</section>
      			        	<section class="col-md-4">
      			        		<h1 class="drop-category">Society</h1>
      			        		<ul class="drop-category-ul">
      				        		<li><a href="/challenges/education">Education</a></li>
                          <li><a href="/challenges/business">Business</a></li>
                          <li><a href="/challenges/environment">Environment</a></li>
                          <li><a href="/challenges/social-innovation">Social Innovation</a></li>
      			        		</ul>
      			        	</section>
      			        </div>

      			        </li>
      			        <li><a href="/">How It Works</a></li>
      			      	<li class="navbar-search">
      			        	<form action="/search" method="get">
      				          	<div class="input-group">

      				          		<div class="input-group-btn">
      							      <button class="btn btn-default" type="submit">
      							        <i class="glyphicon glyphicon-search"></i>
      							      </button>
      							    </div>
      							    <input type="text" class="form-control" placeholder="Find Something Awesome" name="searchterm" class="navbar-search-input">

      							</div>
      				          </form>
      			        </li>
      			    </ul>

      		      	<ul class="nav navbar-nav navbar-right">
      			        <li class="top-right-buttons" style="margin-right: 25px;">
      			       		<a href="/profile/add-challenge" class="btn btn-default btn-start-challenge">Start a Challenge</a>
      			       	</li>
                    <% if (isAuth) { %>
                      <li>
                        <a href="/profile" class="tablet-hide">Account</a>
                      </li>
                      <li>
                        <a href="/logout" class="tablet-hide">Log out</a>
                      </li>
                    <% } else { %>
                      <li>
                        <a href="/login" class="tablet-hide">Log in</a>
                      </li>
                      <li>
                        <a href="/signup" class="tablet-hide">Sign up</a>
                      </li>
                    <% } %>
                    
                      <div id="tablet-nav-account">
                        <a class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span> </a>
                        <div class="dropdown-menu">
                          <% if (isAuth) { %>
                            <li>
                              <a href="/profile">Account</a>
                            </li>
                            <li>
                              <a href="/logout">Log out</a>
                            </li>
                          <% } else { %>
                            <li>
                              <a href="/login">Log in</a>
                            </li>
                            <li>
                              <a href="/signup">Sign up</a>
                            </li>
                          <% } %>
                        </div>
                      </div>
                  </ul>
      		    </div>
      		  </div>
      		</nav>
      	</div>
