<% include partials/header.ejs %>

  <!-- intro row -->
  <div class="row text-center intro-row">
    <div class="col-md-12">
      <h1 id="intro-slogan" class="intro-text animated bounceInLeft">World's First Crowdthinking Platform</h1>
      <h1 id="intro-hook" class="intro-text animated bounceInRight">Changing the World One Challange at a Time</h1>
      <span class="intro-text " id="intro-join">Join the community of intellectuals</span>
      <a href="/signup" class="btn btn-intro-join">Become a Thinker</a>
    </div>
  </div>


<!-- Lights -->


<div class="row homepage-categories-row">
	<div class="container">
		<section class="col-md-12">
			<h2 class="homepage-category-title"><a href="">Light</a></h2>
			<span>Campaigns for creative and original ideas.</span>
			<hr>
		</section>
		<% for(let i = 0; i < lights.length; i++) { %>
			<section class="col-sm-6 col-lg-3">
				<div class="item item-category">
					<img src="/uploads/c/<%= lights[i].img0 %>" alt="<%= lights[i].title %>" class="img-responsive">
					<div class="item-descr">
						<h1 class="thumbnail-title"><a href="/c/<%= lights[i].slug %>"><%= lights[i].title %></a>  <br /><span class="badge">15 Ideas</span></h1>
						<p><%= lights[i].overview %></p>
						<!-- <h3 class="thumbnail-by">by <a href="<%= lights[i].author_id %>"><%= %> -->
						</a></h3>
						<span class="item-reward">
						Reward:
							<span class="glyphicon glyphicon-usd"></span>25
						</span>

						<div class="progress">
							<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="70"
							  aria-valuemin="0" aria-valuemax="100" style="width:70%">
								<span class="sr-only">70% Complete</span>
							</div>

						</div>
						<span>33 days left</span>
            <br />
            <p class="thumb-in-cat text-center">In <a href="<%= lights[i].category %>"><%= lights[i].category %></a></p>
					</div>

				</div>
			</section>
			<% } %>
			<section class="col-md-12 text-center col-view-all-category">
				<a href="/" class="btn btn-view-all-category">View All in This Category</a>
			</section>
	</div>
</div>

<!-- Teasers -->

<div class="row homepage-categories-row">
	<div class="container">
		<section class="col-md-12">
			<h2 class="homepage-category-title"><a href="">Teaser</a></h2>
			<span>Campaigns for constructive and practical solutions.</span>
			<hr>
		</section>
		<% for(let i = 0; i < teasers.length; i++) { %>
			<section class="col-sm-6 col-lg-3">
				<div class="item item-category">
					<img src="/uploads/c/<%= teasers[i].img0 %>" alt="<%= teasers[i].title %>" class="img-responsive">
					<div class="item-descr">
						<h1 class="thumbnail-title"><a href="/c/<%= teasers[i].slug %>"><%= teasers[i].title %></a> &nbsp;<span class="badge">15 Ideas</span></h1>
						<!-- <h3 class="thumbnail-by">by <a href="<%= teasers[i].author_id %>"><%= usernames[0] %></a></h3> -->
						<span class="item-reward">
						Reward:
							<span class="glyphicon glyphicon-usd"></span>25
						</span>

						<div class="progress">
							<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="70"
							  aria-valuemin="0" aria-valuemax="100" style="width:70%">
								<span class="sr-only">70% Complete</span>
							</div>

						</div>
						<span>33 days left</span>
            <br />
            <p class="thumb-in-cat">In <a href="<%= teasers[i].category %>"><%= teasers[i].category %></a></p>
					</div>

				</div>
			</section>
			<% } %>
			<section class="col-md-12 text-center col-view-all-category">
				<a href="/" class="btn btn-view-all-category">View All in This Category</a>
			</section>
	</div>
</div>


<!-- Brainstorms -->

<div class="row homepage-categories-row">
	<div class="container">
		<section class="col-md-12">
			<h2 class="homepage-category-title"><a href="">Brainstorm</a></h2>
			<span>Campaigns for diverse and versatile suggestions.</span>
			<hr>
		</section>
		<% for(let i = 0; i < brainstorms.length; i++) { %>
			<section class="col-sm-6 col-lg-3">
				<div class="item item-category">
					<img src="/uploads/c/<%= brainstorms[i].img0 %>" alt="<%= brainstorms[i].title %>" class="img-responsive">
					<div class="item-descr">
						<h1 class="thumbnail-title"><a href="/c/<%= brainstorms[i].slug %>"><%= brainstorms[i].title %></a> &nbsp;<span class="badge">15 Ideas</span></h1>
						<!-- <h3 class="thumbnail-by">by <a href="<%= brainstorms[i].author_id %>"><%= usernames[0] %></a></h3> -->
						<span class="item-reward">
						Reward:
							<span class="glyphicon glyphicon-usd"></span>25
						</span>

						<div class="progress">
							<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="70"
							  aria-valuemin="0" aria-valuemax="100" style="width:70%">
								<span class="sr-only">70% Complete</span>
							</div>

						</div>
						<span>33 days left</span>
            <br />
            <p class="thumb-in-cat">In <a href="<%= brainstorms[i].category %>"><%= brainstorms[i].category %></a></p>
					</div>

				</div>
			</section>
			<% } %>
			<section class="col-md-12 text-center col-view-all-category">
				<a href="/" class="btn btn-view-all-category">View All in This Category</a>
			</section>
	</div>
</div>

<!-- // Categories -->

<!-- last call to action -->


	<div class="row text-center last-call-action">
		<div class="container">
			<div class="col-md-12">
				<h1 class="get-started">Get Started Today</h1>
				<h3 class="get-started-info">Become a Thinker and start solving challenges or start a new challenge.</h3>
				<a href="" class="btn btn-start-thinker">Become a Thinker</a>
				<a href="" class="btn btn-start-challenge">Start a Challenge</a>
			</div>
		</div>
	</div>

<!-- // last call to action -->
  <!-- / intro row -->


<% include partials/footer.ejs %>
