<% include partials/header.ejs %>


<div class="row challenge-row">
	<div class="col-md-7">
		<img src="/uploads/c/<%= challenge.img0 %>" alt="<%= challenge.title %>" class="img img-responsive">
	</div>
	<div class="col-md-5">
		<div class="col-md-12">
			<h1 id="p-challenge-title"><%= challenge.title %></h1>
			<h4 id="p-challenge-short"><%= challenge.overview %></h4>
			<h4>Views: <%= challenge.views %></h4>
		</div>
		<div class="col-md-12 author-col">
			<div class="col-md-3">
				<img src="https://placeholdit.imgix.net/~text?txtsize=66&txt=LOGO&w=350&h=250" class="img img-responsive img-circle" alt="" id="p-challenge-challenger-img">
			</div>
			<div class="col-md-9">
				<h3 id="p-challenge-challenger-name"><%= name %></h3>
				<h4><a href="/">View Other Challenges by <%= name %></a></h4>
			</div>
		</div>
		<div class="col-md-12 progress-col">
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%">
					<span class="sr-only">70% Complete</span>
				</div>
			</div>
			<span id="p-progress-days">33 days left</span>
		</div>
		<div class="col-md-12" id="p-challenge-submit">
			<div class="col-md-12">
				<h4>Submit an Idea or Share with your friends.</h4>
			</div>
			<div class="col-md-5">
				<a class="btn btn-submit-idea green" href="/challenge/slug-slug-slug-153/application">Submit Idea</a>
			</div>
			<div class="col-md-7">
				<a href=""><span class="fa fa-facebook-official"></span></a>
				<a href=""><span class="fa fa-twitter-square"></span></a>
				<a href=""><span class="fa fa-instagram"></span></a>
				<a href=""><span class="fa fa-youtube"></span></a>
			</div>

		</div>

	</div>
</div>

<div class="row challenge-body-row">

		<div class="col-md-8">
			<ul class="nav nav-tabs">
				<li class="active" id="c-go-body"><a class="c-go-tabs">The Challenge</a></li>
				<li id="c-go-files"><a class="c-go-tabs">Files &amp; Resources</a></li>
				<li id="c-go-solutions"><a class="c-go-tabs">Submitted Solutions</a></li>
			</ul>

			<div  id="body">
        		<p id="p-challenge-body">
					<%= challenge.description %>

				</p>
      		</div>
			<div id="files" class="hide">
				<h1>Files lol</h1>
			</div>
			<div id="solutions" class="hide">
				<h1 class="black">Contributions</h1>
				<% if(challenge.is_public) { %>
				
					<% for (let i = 0, len = ideas.length; i < len; i++) { %>
						<!-- Left-aligned -->
						<div class="media">
						  <div class="media-left">
						    <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:60px">
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">
						    
						    <b>
						    <%= contributors[i].local.email ? contributors[i].new_name : contributors[i].google.name %>
						    </b>

						    </h4>
						    <p><%= ideas[i].body %></p>
						  </div>
						</div>
					<%	} %>

				<% } else { %>
				Private
				<% } %>
			</div>

			<div class="text-center">
				<!-- <h3 id="p-challenge-submit-hook">Have an Idea? Submit your Solution.</h3>
				<button class="btn btn-submit-idea green">Submit Idea</button> -->
			</div>
			<div>
				<hr />
				<% if (isAuth) { %>
					<h3 id="p-challenge-submit-hook">Contribute to this Challenge</h3>
					<form action="/contribute" method="post">
					<div class="col-sm-12">

					<input type="hidden" name="c_i" value="<%= challenge._id %>" />
					<input type="hidden" name="u_i" value="<%= user._id %>" />
						<div class="form-group">
							<label for="body">Body</label>
							<textarea class="form-control" name="body" rows="5" required></textarea>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="file">Image or Files</label>
							<input type="file" name="file" />
						</div>
					</div>
					<div class="col-sm-6 text-right">
						<div class="form-group">
							<button class="btn btn-primary" type="submit">Contribute</button>
						</div>
					</div>
					</form>
				<% } else { %>
					<h3 id="p-challenge-submit-hook">Log in to Contribute</h3>
					<!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group"> 
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
            <p class="orSignup">Need an account? <a href="/signup">Signup</a></p>
        </form>

        <hr>
        <p>
          Or fast Sign in with one of these folks
        </p>
            <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
              <span class="fa fa-facebook"></span>
              Hey #Facebook, sign me in dude!
            </a>
            <a href="/auth/twitter" class="btn btn-block btn-social btn-twitter">
              <span class="fa fa-twitter"></span>
              Hello @Twitter, How's your day goin'?
            </a>
            <a href="/auth/google" class="btn btn-block btn-social btn-google">
              <span class="fa fa-twitter"></span>
              Google, sir, would you sign me in please?
            </a>
				<% } %>
			</div>

		</div>
		<div class="col-md-4">Sidebar</div>

</div>

<% include partials/footer.ejs %>
